/* Deal ngon mỗi ngày */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.banner-one {
    margin-top: 30px;
    width: 100%;
}

.div {
    margin-bottom: 0px;
}

.container {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

li {
    list-style: none;
}

.slider-product-one-content {
    background-color: #fec603;
    padding: 12px 0px;
    border-radius: 10px;
}

.slider-product-one-content-title img {
    margin-right: 100px;
    aspect-ratio: auto 1200 / 120;
}

.slider-product-one-content-items {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
}

.slider-product-one-content-item .Dien-thoai:hover  {
    transform: translateY(-10px);
}

.slider-product-one-content-item {
    width: 225px;
    background-color: #fff;
    padding: 20px 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.slider-product-one-content-item img {
    height: 100%;
    width: 100%;
    transition: all 0.2s ease;
}

.slider-product-one-content-item span {
    font-size: 10px;
}

.slider-product-one-content-text {
    padding-top: 10px;
    margin: center;
}

.slider_baoquat span {
    border-radius: 2px;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #F1F1F1;

}

.slider_baoquat {
    width: 235px;
    background-color: white;
    border-radius: 10px;
}

.slider-product-one-content-text li {
    margin-bottom: 6px;
    list-style-type: none;
}
#Lenovo-margin
{
    margin-top:45px
}

.slider-product-one-content-text .VNPay {
    height: 20px;
    font-size: 12px;
    width: 70%;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #247ECE;
    align-items: center;
    line-height: 3px;
    border-radius: 40px;


}

.Xa_Kho {
    height: 20px;
    font-size: 12px;
    width: 80%;
    display: inline-block;
    margin-bottom: 20px;
    background-color: red;
    align-items: center;
    line-height: 3px;
    border-radius: 40px;
}

.slider-product-one-content-text .Dat_truoc {
    font-size: 12px;
    height: 20px;
    width: 55%;
    display: inline-block;
    margin-bottom: 20px;
    background-color: red;
    align-items: center;
    line-height: 3px;
    border-radius: 4px;

}

.slider-product-one-content-text li:first-child p {
    color: white;
    margin-top: 10px;
}

.tragop {
    font-size: 10px;
    height: 35px;

}

.slider-product-one-content-text li:first-child img {
    width: 20px;
    float: left;
    margin-right: 6px;
}

.slider-product-one-content-text a {
    text-decoration: line-through;
    color: black;
}

.slider-product-one-content-text li:nth-child(3) {
    color: #DED5D5;
}

.slider-product-one-content-text u {
    margin-left: 10px;
    color: red;
}

.giam_gia {
    color: red;
}

.content-btn {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-product-one-content .content-btn svg {
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    color: rgb(72, 74, 77);
    height: 50px;
    width: 45px;
}

.slider-product-one-content .content-btn svg:hover {
    background-color: rgb(148, 139, 139);
    color: black;
}

.slider-product-container {
    position: relative;
    overflow: hidden;
}

.slider-product-content-items-contents {
    position: relative;
    height: 550px;
    transition: all 0.3s;
    margin-bottom: -40px;
}

.slider-product-content-items-contents #slide1 {
    transform: translateX(100%);
}

.btn_xemthem {
    margin-left: 40%;
}

.btn_xemthem button {
    padding: 15px 60px 15px 60px;
    font-size: 20;
    border-radius: 10px;

}

.slider-product-one {
    margin-bottom: 30px;
}

/*Xu hướng*/
.product-gallery-one-content {
    background-color: #FEDEC4;
    border-radius: 10px;
}

.product-gallery-one-xuhuong ul {

    list-style: none;
    display: flex;
    padding-left: 15px;
    padding-bottom: 30px;
    position: relative;

}

.product-gallery-one-xuhuong li {
    padding-right: 15px;
}

.uudai-soc img {
    height: 44px;
}

.back2 img {
    width: 100%;
}
    /*Iphone13*/


.background-1 {
    height: 680px;
    background-image: url('Anh/back2.png');
    background-color: #FDD650;
    background-repeat: no-repeat;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    min-width: 1200px;
    max-width: 100%;
    background-position: center top;
    text-align: center;

}

.box-menu-img {
    margin-top: 25%;

}

.container2 {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.dienthoai {
    display: block;
    overflow: hidden;
    margin: 0;
    background: #fff;
    line-height: 32px;
    margin-bottom: 10px
}

.dienthoai li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    line-height: unset;
    color: rgb(9, 105, 220);
}

/*body iphone13 */
.section .bodymain {
    overflow: hidden !important;
    width: 1200px;
    margin: auto;
    min-width: 1200px;
    padding: 20px 0px;
    height: 350px;
}

.box-cover-left {
    width: 95%;
}

.box-right {
    width: 50%;
}

.box-cover-left img {
    width: 100%;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box-right {
    margin-left: 30px;
}

.box-right ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    padding-left: 15px;
    padding-bottom: 30px;
    position: relative;
    padding-left: 40px;

}

.box-right .info-devi {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
    position: relative;

}

info-devi:visited {
    border-color: blue;
    color: blue;
}

.btn-slider {
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-slider svg {
   
    transform: translateY(-80%);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    color: rgb(192, 198, 203);
    height: 70px;
    width: 55px;

}

.btn-slider svg:hover {
    background-color: white;
    color: black;
}

.main-box {
    padding: 10px 0;
    height: 500px;
    margin: 0 100px
}

.box-content-left {
    position: relative;
    overflow: hidden;

}

.box-left {
    height: 400px;
    position: relative;
    transition: all 0.3s ease;
}

.btn-slider {
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a.info-devi:hover {
    color: #6B80F0;
    border-color: #6B80F0;
}
.box-left a:nth-child(2) img {
    transform: translateX(100%);
}

.box-left a:nth-child(3) img {
    transform: translateX(200%);
}
.box-left a:nth-child(4) img {
    transform: translateX(300%);
}
.box-left a:nth-child(5) img {
    transform: translateX(400%);
}
.box-left a:nth-child(6) img {
    transform: translateX(500%);
}


.box-cover-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-content-left :hover svg
{
    opacity: 1;
}
.box-left img {
    position: absolute;
}
.item-active
{
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: top;
    width: 55px;
}
.item-border
{
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    min-height: 55px;
    padding: 4px;
}
.box_saving
{
    margin-bottom: 10px;
    position: relative;
}
.box_saving .bs_title
{
    padding: 10px;
    border-radius: 4px 4px 0 0;
    background-color: #e21d22;
    overflow: hidden;
}
.bs_content li
{
    margin-bottom: 2px;
    line-height: 1.6;
    padding-left: 12px;
    position: relative;
}
/*---product-gallery-one-content-product---*/
/*Danh sách GỢI Ý HÔM NAY*/
.option-pick
{
    display: flex;
    overflow: hidden;
    flex-flow: row;
    padding: 0 0 15px;
    text-align: center;
    align-items: center;
}
.option-pick img{
    height: 50px;
    width: 50px;
}
.option-pick a
{
    display: inline-block;
    vertical-align: middle;
    width: 285px;
    margin: 0 20px 0 0;
    background: #fff;
    border-radius: 8px;
    height: 70px;
    padding: 8px 0;
}.option-pick a img
{
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: 50px;
    height: auto;
}
.option-pick span
{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    color: #555;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 0 0;
}
.option-reque a
{
    background-color:orange ;
}
/*----Danh sách điện thoại---*/
.product-gallery-one-content-product
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
        position: relative;
    height: 835px;
    overflow: hidden;
    transition: all 0.6s ease;
}
.product-gallery-one-content-product-item
{
    padding: 50px 12px 12px;
    width: 19%;
}
.product-gallery-one-content-product-item >img
{
    width: 100%;
}
.product-gallery-one-content-product-item {
    padding-top: 10px;
    margin-bottom: 15px;
    padding: 10px;background-color: white;
    border-radius: 10px;

}

.product-gallery-one-content-product-item li {
    margin-bottom: 6px;
    list-style-type: none;
}


.product-gallery-one-content-product-item li:first-child p {
    color: white;
    margin-top: 10px;
}
.product-gallery-one-content-product-item li:first-child img {
    width: 20px;
    float: left;
    margin-right: 6px;
}
.product-gallery-one-content-product-item a {
    text-decoration: line-through;
    color: black;
}
.product-gallery-one-content-product-item li:nth-child(3) {
    color: #DED5D5;
}

.product-gallery-one-content-product-item u {
    margin-left: 10px;
    color: red;
}
.Dien-thoai
{
    padding-bottom: 20px;
}
.product-gallery-one-content-title-dienthoai
{
    background-color: #F3F3F3;
}
.product-gallery-one-content-product-items
{
    display: flex;
    justify-content: space-between;
    position: static;
    width: 100%;
}

.hihihi
{
    position: absolute;
    padding-bottom: 25px ;
}
.hihihi:nth-child(2)
{
    transform: translateY(100%);
    
}
.btn_xemthem2
{
    margin-left: 40%;
}
.btn_xemthem2 button
{
    padding: 15px 60px 15px 60px;
    font-size: 20;
    border-radius: 10px
}
/*responsive*/
@media screen and (max-width:420px) 
{
    .container
    {
        width: 100%;
    }
    .container img
    {
        height: 40%;
    }
    .slider-product-one
    {
        width: 100%;
    }
    .btn_xemthem
    {
        padding-left: 5px;
    }
    .Xa_Kho
    {  
        font-size: 5px;
        width: 100%;
        height: 100% !important;
        margin-bottom: 3px;
    }
    .Xa_Kho p
    {
        font-size: 5px;
    }
    .slider-product-one-content-text .Dat_truoc
    {
        font-size: 5px;
        width: 80%;
        height: 100% !important;
        margin-bottom: 3px;
    }
    .Dat_truoc p
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .slider-product-one-content .content-btn svg {
        width: 20px;
        height: 30px;
    }

    .slider-product-one-content-text li 
    {
        font-size: 7px;
    }
    .slider_baoquat svg 
    {
        width: 8px;
    }
    .slider_baoquat
    {
        width: 18%;
    }
    .tragop
    {
        height: 5%;
    }
    .tragop span
    {
        font-size: 5px;
        height: 10px;
        margin: 3px 3px 0px;
    }
    .slider-product-one-content-item img
    {
        width: 80%;
        
    }
    .slider-product-one-content-item
    {
        width:100%;
        padding:3px 3px 3px 3px;
    }
    .slider-product-one-content-text li:first-child img { width: 15px; margin-right: 1px; }
    .slider-product-one-content-text li:first-child p {    margin-top: 7px; }
    .slider-product-one-content-text { padding-top: 0px;}
    .slider-product-one-content-text .VNPay
    {   height: 15px;
        font-size: 5px;
        width: 100%;
        height: 100% !important;
       margin-bottom: 3px;
    }
    .slider-product-one-content-text
    {
        padding-top: 0px;
    }
    .slider-product-content-items-contents
    {
        height: 265px;
    }
    .btn_xemthem
    {   
        margin: 0px 0px 0px 0px;
        margin-left: 30%;
    }
    .btn_xemthem button
    {
        padding:5px 10px 5px 10px
    }
    .danhsach-xuhuong img 
    {
        width: 100%;
        height: 100% !important;
    }
    .danhsach-xuhuong
    {
       display: inline-block;
    }
    #Lenovo-margin
    {
        margin-top: -5px;
    }
}
@media screen and (max-width: 920px) and (min-width: 420px)
{
    .container
    {
        width: 100%;
    }
    .container img
    {
        height: 40%;
    }
    .slider-product-one
    {
        width: 100%;
    }
    .btn_xemthem
    {
        padding-left: 5px;
    }
    .Xa_Kho
    {  
        font-size: 8px;
        width: 70%;
        height: 100% !important;
        margin-bottom: 3px;
    }
    .Xa_Kho p
    {
        font-size: 8px;
    }
    .slider-product-one-content-text .Dat_truoc
    {
        font-size: 8px;
        width: 60%;
        height: 100% !important;
        margin-bottom: 3px;
    }
    .Dat_truoc p
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .slider-product-one-content-text li 
    {
        font-size: 7px;
    }
    .slider_baoquat svg 
    {
        width: 10px;
    }
    .slider_baoquat
    {
        width: 18%;
    }
    .tragop
    {
        height: 5%;
    }
    .tragop span
    {
        font-size: 5px;
        height: 10px;
        margin: 3px 3px 0px;
    }
    .slider-product-one-content-item img
    {
        width: 80%;
        
    }
    .slider-product-one-content-item
    {
        width:100%;
        padding:3px 3px 3px 3px;
    }
    .slider-product-one-content-text li:first-child img { width: 15px; margin-right: 1px; }
    .slider-product-one-content-text li:first-child p {    margin-top: 7px; }
    .slider-product-one-content-text { padding-top: 0px;}
    .slider-product-one-content-text .VNPay
    {   height: 15px;
        font-size: 8px;
        width: 70%;
        height: 100% !important;
       margin-bottom: 3px;
    }
    .slider-product-one-content-text
    {
        padding-top: 0px;
    }
    .slider-product-content-items-contents
    {
        height: 330px;
    }
    .btn_xemthem
    {   
        margin: 0px 0px 0px 0px;
        margin-left: 40%;
    }
    .btn_xemthem button
    {
        padding:5px 10px 5px 10px
    }
    .danhsach-xuhuong img 
    {
        width: 100%;
        height: 100% !important;
    }
    .danhsach-xuhuong
    {
       display: inline-block;
    }
    #Lenovo-margin
    {
        margin-top: 18px;
    }
}


